<aside class="categorias-sidebar" id="categorias-sidebar-nav">
    <h3>Categorías</h3>
    <ul class="lista-categorias-principales">
        {% for cat in categorias_nav %}
        <li>
            <a href="{{ url_for('catalogo_por_categoria_principal', cat_principal_slug=cat.slug) }}"
               class="cat-principal-link">{{ cat.nombre }}</a>
            {% if cat.subcategorias %}
            <ul class="lista-subcategorias">
                {% for subcat in cat.subcategorias %}
                <li>
                    <a href="{{ url_for('catalogo_por_subcategoria', cat_principal_slug=cat.slug, sub_cat_slug=subcat.slug) }}">
                        {{ subcat.nombre }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
        <li>
            <a href="{{ url_for('catalogo_general') }}" class="cat-principal-link all-products-link">Ver Todas las Categorías</a>
        </li>
    </ul>
</aside>
